@font-face {
    font-family: 'font2';
    src: url('/Fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2') format('woff2');
}

@font-face {
    font-family: 'font3';
    src: url('/Fonts/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
}

@font-face {
    font-family: 'font4';
    src: url('/Fonts/RFDewi-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'font5';
    src: url('/Fonts/RFDewi-Ultrabold.woff') format('woff');
}

@import "tailwindcss";

@theme {
    --font-font2: "font2", "sans-serif";
    --font-font3: "font3", "sans-serif";
    --font-font4: "font4", "sans-serif";
    --font-font5: "font5", "sans-serif";
}

body {
    background: #D6DBE0;
}

.SwiperSlideThumb {
    width: 100px !important;
    height: 100px !important;
}

@media (max-width:480px) {
    .SwiperSlideThumb {
        width: 80px !important;
        height: 80px !important;
    }
}

.footer-top {
    background: url('/Images/footer-bg.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

}

.cartMain::-webkit-scrollbar {
    width: 2px;
    background: #C0C5C9;
    border-radius: 100px;
    overflow: hidden;
}

.cartMain::-webkit-scrollbar-thumb {
    width: 100%;
    background: #000;
    border-radius: 100px;
}

.cartMain:last-child {
    margin-bottom: 0 !important;
}

.first-card {
    z-index: 99 !important;
    position: relative !important;
}

.center-card {
    z-index: 2 !important;
}

.cards {
    z-index: 99 !important;
    position: relative !important;
}

