@font-face {
    font-family: 'font1';
    src: url('/Fonts/icomoon.woff') format('woff');
}

@font-face {
    font-family: 'font2';
    src: url('/Fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2') format('woff2');
}

@font-face {
    font-family: 'font3';
    src: url('/Fonts/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
}

@font-face {
    font-family: 'font4';
    src: url('/Fonts/RFDewi-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'font5';
    src: url('/Fonts/RFDewi-Ultrabold.woff') format('woff');
}

@import "tailwindcss";

@theme {
    --font-font1: "font1", "sans-serif";
    --font-font2: "font2", "sans-serif";
    --font-font3: "font3", "sans-serif";
    --font-font4: "font4", "sans-serif";
    --font-font5: "font5", "sans-serif";
}

body {
    background: #D6DBE0;
}

.SwiperSlideThumb {
    width: 100px !important;
    height: 100px !important;
}

/* .swiper.swiper-initialized.swiper-horizontal.mySwiper2.border.swiper-backface-hidden{
    height:80vh !important;
} */
@media (max-width:480px) {
    .SwiperSlideThumb {
        width: 80px !important;
        height: 80px !important;
    }
}

.footer-top {
    background: url('/Images/footer-bg.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
}

/* 
 @media (max-width:640px) {
    .footer-top{
        height: 40vh;
     }
 }
 @media (max-width:768px) {
    .footer-top{
        height: 60vh;
     }
 }
 @media (max-width:1024px) {
    .footer-top{
        height: 70vh;
     }
 }
 @media (max-width:1280px) {
    .footer-top{
        height: 80vh;
     }
 } */